<h1>TrainingPeaks OAuth Client</h1>
<h3>Java Client Example</h3>
<p>This application contains working example code. It accesses the TrainingPeaks OAuth Server for authentication and then being redirected directly into the app. To start the OAuth process, click below.</p>
<p>Here are the high level steps it follows</p>
<ol>
    <li>Call for a token</li>
    <li>If no token is available, the OAuth server will ask the user for their TP credentials</li>
    <li>After authenticating the credentials, a token will be handed back to this client and the callback url will be triggered</li>
    <li>Using the token, the client will prepare a resource request and send another request to the OAuth server</li>
    <li>The OAuth server will respond with the URL the client can use to access the TrainingPeaks application</li>
</ol>

<a href="oauth">Click here to OAuth</a>





